html {
    background-color: white;
}
.header {
    position: sticky;
    text-align: center;
    border-bottom: 2px solid black;
    background: rgb(6,36,0);
background: linear-gradient(90deg, rgba(6,36,0,1) 0%, rgba(9,121,18,0.5355392156862745) 30%, rgba(227,5,5,0) 51%, rgba(255,0,0,1) 70%);
}

li {
    border: 1px solid black;
    border-radius: 20px;
    width: 8vh;
    background-color: black;
    color: white;
}
li:hover {
    color: red;
    cursor: pointer;
}

.container {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blurb {
    padding-top:5vh;
    height: 40vh;
    width: 40vh;
    /* border: 1px solid black; */
}
.navbar {
    display: flex;
    gap: 10vh;
    justify-content: space-evenly;
    list-style: none;
}
.menuPic{
    height: 30vh;
    width: 30vh;
}
.menuItem{
    display: flex;
    align-items: center;
    gap: 10vh;
}
.menuContainer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    
}